* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Baloo Chettan 2", Roboto, sans-serif, Arial;
  font-weight: bold;
  background-image: linear-gradient(
    rgb(29, 179, 216),
    rgb(121, 224, 121),
    rgb(255, 144, 162),
    rgb(255, 240, 36)
  );
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

.top-title {
  font-size: 30px;
  margin-top: 50px;
}
.name-title {
  font-family: Rampart One;
  font-size: 70px;
  margin-bottom: 15px;
  z-index: 1;
}

img,
video {
  border-radius: 32px;
  box-shadow: 0 0 50px 30px white;
}
.main-img {
  width: 300px;
}

/* Wheel of kind words */
.kind-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  margin: 50px 0 250px;
  font-size: 40px;
  line-height: 50px;
  width: 100%;
}
.kind-title {
  width: 50%;
  display: flex;
  justify-content: right;
}
.words-container {
  width: 50%;
  overflow: hidden;
}
.words span{
  display: block;
  height: 50px;
  font-family: Rampart One;
}
.words {
  position: relative;
  animation: wheel-animation ease 10s infinite;
}
@keyframes wheel-animation {
  0% { top: -3px; }
  5% { top: -3px; }
  10% { top: -53px; }
  15% { top: -53px; }
  20% { top: -103px; }
  25% { top: -103px; }
  30% { top: -153px; }
  35% { top: -153px; }
  40% { top: -203px; }
  45% { top: -203px; }
  50% { top: -253px; }
  55% { top: -253px; }
  60% { top: -303px; }
  65% { top: -303px; }
  70% { top: -353px; }
  75% { top: -353px; }
  80% { top: -403px; }
  85% { top: -403px; }
  90% { top: -453px; }
  95% { top: -453px; }
  100% { top: -503px; }
}

.middle-text {
  font-size: 50px;
  width: 500px;
  text-align: center;
  margin: 200px 0;
}
.lonely-text { 
  margin: 250px 0;
}

.media-title {
  margin: 200px 0 50px;
  font-size: 30px;
}
.last-media-text {
  font-size: 50px;
}
.media {
  height: 500px;
}
.last-media {
  margin-bottom: 250px;
}

.extra-margin {
  margin-bottom: 400px;
}

.congrats-text {
  margin: 50px 0 500px;
  font-family: Rampart One;
  font-size: 50px;
  text-align: center;
  animation: disco linear 1s infinite;
}

@keyframes disco {
  0% { color: rgb(143, 0, 143); }
  50% { color: rgb(0, 219, 219); }
  100% { color: rgb(143, 0, 143); }
}

.final-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.heart {
  box-shadow: none;
  width: 200px;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .congrats-text {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .top-title { font-size: 22px; }
  .name-title { font-size: 50px; }
    .kind-row { font-size: 6vw; }
    .middle-text {
    font-size: 30px;
    width: 200px;
  }
  .media {
    height: auto;
    width: 80vw;
  }
  .last-media-text {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .main-img { width: 80vw; }
  .middle-text {
    font-size: 20px;
    width: 60vw;
  }
  .big-text {
    font-size: 25px;
  }
}