* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .word {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    white-space: nowrap;
  }
  .word1 { animation: slide 5s linear infinite; }
  .word2 { animation: slide 5s linear 1s infinite; }
  .word3 { animation: slide 5s linear 2s infinite; }
  .word4 { animation: slide 5s linear 3s infinite; }
  .word5 { animation: slide 5s linear 4s infinite; }
  @keyframes slide {
    0% {
      left: 65%;
      opacity: 0;
    }
    50% {
      right: 50%;
      opacity: 1;
    }
    100% {
    left: 45%;
      opacity: 0;
    }
  }